*{
  margin: 0%;
  box-sizing: border-box;
}

.cart,p{
  flex: 50%;
}
.bar{
  text-align: center;
  display: flex;
  width: 60%;
  padding: 5px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  margin: auto;
  cursor: pointer;
}
.bar,p{
  padding: 5px;
}

